<ion-card mode="ios" class="shadow ion-no-margin ion-margin-bottom" [color]="color">
  <ion-row>
    <ion-col size="4">
      <ion-img class="bg-img" [src]="place.featuredImageUrl"></ion-img>
    </ion-col>
    <ion-col size="8">
      <div class="ion-text-nowrap">
        <ion-text color="secondary">
          <h3 class="bold ellipsis text-normal">{{ place.title }}</h3>
        </ion-text>
        <p class="text-normal bold">
          <ion-text color="dark">
            {{place.distance(extraParams.location, extraParams.unit)}}
          </ion-text>
        </p>
        <ion-row>
          <div class="status">
            <span *ngIf="place.rating > 0 && place.rating < 2" style="color: #ffffff; background-color: #eb445a">{{
              'BAD' | translate }}</span>
            <span *ngIf="place.rating >= 2 && place.rating < 4" style="color: #ffffff; background-color: #3880ff">{{
              'GOOD' | translate }}</span>
            <span *ngIf="place.rating >= 4" style="color: #ffffff; background-color: #2dd36f">{{ 'VERY_GOOD' | translate
              }}</span>
          </div>
          <ion-progress-bar *ngIf="place.rating > 0 && place.rating < 2" color="danger" [value]="(place.rating)/5">
          </ion-progress-bar>
          <ion-progress-bar *ngIf="place.rating >= 2 && place.rating < 4" color="primary" [value]="(place.rating)/5">
          </ion-progress-bar>
          <ion-progress-bar *ngIf="place.rating >= 4" color="success" [value]="(place.rating)/5"></ion-progress-bar>
          <span *ngIf="place.rating != 0" class="rating">{{ ((place.rating)/5)*100 | number : fractionSize }} %</span>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>
</ion-card>