<ion-content class="noScroll" no-bounce [attr.style]="ionContentStylePadding">
  <ion-grid class="fullscreen ion-no-padding" fixed>
    <ion-row class="fullscreen ion-justify-content-center">
      <ion-col class="ion-no-padding" size-xs="12" size-lg="12">
        <div id="map"></div>
        <div id="searchButton" class="ion-text-center">
        </div>
        <div id="map-header">
          <ion-button class="left" color="warning" slot="ion-only">
            <ion-icon name="locate-sharp"></ion-icon>
          </ion-button>
          <ion-button class="ion-text-center" shape="round" size="small" color="secondary"
            (click)="onSearchButtonTapped()">
            <ion-label class="bold" class="light">{{'SEARCH_THIS_AREA'|translate}}</ion-label>
          </ion-button>
          <ion-button class="right" color="warning" slot="ion-only">
            <ion-icon name="search-sharp"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>