<ion-card mode="ios" (click)="goToPlace()">
  <ion-card-content>
    <ion-label>
      <ion-text color="dark">
        <h2 class="bold no-margin ellipsis">
          {{ place.title }}
        </h2>
      </ion-text>
      <ion-text color="medium">
        <p class="bold no-margin">
          {{ place.category.title | translate}}
        </p>
      </ion-text>
      <div>
        <ion-progress-bar *ngIf="place.rating > 0 && place.rating < 2" color="danger" [value]="(place.rating)/5">
        </ion-progress-bar>
        <ion-progress-bar *ngIf="place.rating >= 2 && place.rating < 4" color="primary" [value]="(place.rating)/5">
        </ion-progress-bar>
        <ion-progress-bar *ngIf="place.rating >= 4" color="success" [value]="(place.rating)/5"></ion-progress-bar>
        <span *ngIf="place.rating != 0" class="rating">{{((place.rating)/5)*100}} % {{ 'LIKED' | translate }}</span>
      </div>
    </ion-label>

    <div slot="end">
      <ion-text color="secondary">
        <div class="status">
          <span *ngIf="place.rating > 0 && place.rating < 2" style="color: #ffffff; background-color: #eb445a">{{ 'BAD'
            | translate }}</span>
          <span *ngIf="place.rating >= 2 && place.rating < 4" style="color: #ffffff; background-color: #3880ff">{{
            'GOOD' | translate }}</span>
          <span *ngIf="place.rating >= 4" style="color: #ffffff; background-color: #2dd36f">{{ 'VERY_GOOD' | translate
            }}</span>
        </div>
      </ion-text>
    </div>
  </ion-card-content>
</ion-card>